.button {
  background: #1e1e1e;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  color: white;
}

.largeButton {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  padding: 20px 60px;
}

.smallButton {
  padding: 15px 36px;
}
